* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ol {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
.vis-hidd {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
}
a {
  font-family: inherit;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  text-decoration: none;
  outline: none;
}
a:focus,
a:hover,
a:active {
  cursor: pointer;
  opacity: 0.8;
  outline: none;
}
button {
  cursor: pointer;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  outline: none;
}
button:focus,
button:hover,
button:active {
  cursor: pointer;
  opacity: 0.8;
  outline: none;
}
.overlay {
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 42, 24, 0.7);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Me5Q.ttf)
    format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9vAw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlvAw.ttf)
    format("truetype");
}
.btn {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  position: relative;
  display: inline-block;
  min-width: 317px;
  padding: 0;
  padding-top: 20px;
  padding-right: 120px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: left;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border: 1px solid #ec3e5a;
  border-radius: 2px;
  outline: none;
  background-color: transparent;
}
.btn:hover {
  background-color: #ec3e5a;
}
.btn--active {
  background-color: #ec3e5a;
}
.btn__icon {
  position: absolute;
  top: 50%;
  right: 22px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.logo {
  display: block;
  width: 80px;
  height: 80px;
  padding-top: 10px;
  padding-left: 9px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1e2024),
    to(#25272e)
  );
  background: linear-gradient(180deg, #1e2024 0%, #25272e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.14),
    inset 0 3px 1px rgba(0, 0, 0, 0.12), inset 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.14),
    inset 0 3px 1px rgba(0, 0, 0, 0.12), inset 0 1px 5px rgba(0, 0, 0, 0.2);
}
.header {
  position: relative;
  min-height: 80px;
  background-color: #18181c;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14),
    0 3px 1px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px rgba(0, 0, 0, 0.12),
    0 1px 5px rgba(0, 0, 0, 0.2);
}
.header__wrapper {
  width: 100%;
  max-width: 1840px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
.start-screen {
  background-color: #18181c;
  background-image: url(img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: 0 -1px;
  background-size: cover;
}
@media screen and (max-width: 1024px) {
  .start-screen {
    background-position: 50%;
  }
}
.start-screen__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 226px;
  padding-bottom: 125px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
@media screen and (max-width: 1280px) {
  .start-screen__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 576px) {
  .start-screen__wrapper {
    padding-top: 140px;
    padding-bottom: 80px;
  }
}
.start-screen__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}
.start-screen__column--left {
  width: 100%;
  max-width: 720px;
  margin-right: 318px;
}
@media screen and (max-width: 1280px) {
  .start-screen__column--left {
    margin-right: 120px;
  }
}
@media screen and (max-width: 768px) {
  .start-screen__column--left {
    margin-right: 0;
  }
}
.start-screen__column--right {
  margin-bottom: 8px;
}
@media screen and (max-width: 1280px) {
  .start-screen__column--right {
    margin-top: 40px;
  }
}
.start-screen__logo {
  display: block;
  margin-bottom: 49px;
  margin-left: -4px;
}
.start-screen__title {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
  line-height: 69px;
  margin-bottom: 50px;
  color: #fff;
}
@media screen and (max-width: 576px) {
  .start-screen__title {
    text-align: center;
  }
}
.start-screen__dscr {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  position: relative;
  margin-bottom: 87px;
  padding-left: 42px;
  letter-spacing: 0.01em;
  color: #fff;
}
.start-screen__dscr::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 2px;
  height: 100%;
  content: "";
  background-color: #ec3e5a;
}
.start-screen__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 576px) {
  .start-screen__buttons {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
}
.start-screen__btn {
  margin-right: 35px;
}
@media screen and (max-width: 576px) {
  .start-screen__btn {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
.start-screen__btn:last-child {
  margin-right: 0;
}
.start-screen__info {
  margin-bottom: 102px;
}
.schedule-results {
  background-color: inherit;
}
.schedule-results__wrapper {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 87px;
}
.schedule-results__title {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 45px;
  margin-bottom: 40px;
  text-align: left;
  letter-spacing: 0;
}
.schedule-results__tabs {
  margin-bottom: 60px;
  border-top: 1px solid #ec3e5a;
}
.stages__wrapper {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 58px;
  padding-bottom: 90px;
}
.stages__title {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 35px;
  margin-bottom: 20px;
  text-align: left;
  letter-spacing: 0;
}
.stages__dscr {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  width: 100%;
  max-width: 782px;
  margin-bottom: 25px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #757c84;
}
.stages__link {
  color: #ec3e5a;
}
.stages__registered {
  display: block;
  margin-bottom: 20px;
}
.stages__bold {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.01em;
}
.stages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .stages__content {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
}
.stages__column {
  width: 100%;
  max-width: 456px;
  margin-top: 42px;
  margin-left: 32px;
}
@media screen and (max-width: 576px) {
  .stages__column {
    margin-left: 0;
  }
}
.stages__confirmation {
  margin-top: 37px;
  margin-bottom: 27px;
}
@media screen and (max-width: 576px) {
  .stages__faq {
    margin-top: 40px;
  }
}
.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}
.table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.table__row:last-child {
  margin-bottom: 0;
}
.table__element {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  margin-right: 40px;
  letter-spacing: 0.01em;
  color: #fff;
}
@media screen and (max-width: 576px) {
  .table__element {
    font-size: 16px;
  }
}
.table__element:last-child {
  margin-right: 0;
}
.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.card-list__item {
  margin-right: 32px;
  margin-bottom: 32px;
}
.card-list__item:nth-child(4n) {
  margin-right: 0;
}
@media screen and (max-width: 1024px) {
  .card-list__item:nth-child(4n) {
    margin-right: 24px;
  }
}
@media screen and (max-width: 768px) {
  .card-list__item:nth-child(4n) {
    margin-right: 32px;
  }
}
@media screen and (max-width: 1024px) {
  .card-list__item:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .card-list__item:nth-child(3n) {
    margin-right: 32px;
  }
}
@media screen and (max-width: 768px) {
  .card-list__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 576px) {
  .card-list__item:nth-child(2n) {
    margin-right: auto;
  }
}
@media screen and (max-width: 768px) {
  .card-list__item:nth-child(2n - 1) {
    margin-right: 32px;
  }
}
@media screen and (max-width: 576px) {
  .card-list__item:nth-child(2n - 1) {
    margin-right: auto;
  }
}
@media screen and (max-width: 1440px) {
  .card-list__item {
    margin-right: 34px;
    margin-bottom: 34px;
  }
}
@media screen and (max-width: 1366px) {
  .card-list__item {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1280px) {
  .card-list__item {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .card-list__item {
    margin-right: 24px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .card-list__item {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 576px) {
  .card-list__item {
    margin-right: auto;
    margin-bottom: 11px;
    margin-left: auto;
  }
}
.card {
  position: relative;
  width: 336px;
  min-height: 360px;
  padding: 25px;
  border: 1px solid rgba(143, 154, 157, 0.2);
  border-radius: 2px;
  background-color: #fff;
  background-image: url(img/sprite.svg#logo-star);
  background-repeat: no-repeat;
  background-position: calc(100% + 3px) 0;
  background-size: 182px 162px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0);
}
@media screen and (max-width: 1440px) {
  .card {
    width: 320px;
  }
}
@media screen and (max-width: 1366px) {
  .card {
    width: 312px;
  }
}
@media screen and (max-width: 1280px) {
  .card {
    width: 294px;
  }
}
@media screen and (max-width: 1024px) {
  .card {
    width: 312px;
  }
}
@media screen and (max-width: 768px) {
  .card {
    width: 348px;
  }
}
@media screen and (max-width: 576px) {
  .card {
    width: 100%;
    max-width: 374px;
    min-height: auto;
    padding-top: 15px;
    padding-right: 11px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
}
.card--active {
  border: 1px solid #ec3e5a;
  background-image: url(img/sprite.svg#logo-star-active);
  background-repeat: no-repeat;
  background-position: calc(100% + 3px) 0;
  background-size: 182px 162px;
}
@media screen and (max-width: 576px) {
  .card--active {
    background-size: 155px 140px;
  }
}
.card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.card__wrapper--top {
  margin-bottom: 71px;
}
@media screen and (max-width: 576px) {
  .card__wrapper--top {
    margin-bottom: 0;
  }
}
.card__wrapper--group {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card--battles:not(.card--active) .card__wrapper--top {
  margin-bottom: 82px;
}
@media screen and (max-width: 576px) {
  .card--battles:not(.card--active) .card__wrapper--top {
    margin-bottom: 18px;
  }
}
.card__name {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #757c84;
}
@media screen and (max-width: 576px) {
  .card__name {
    font-size: 12px;
  }
}
.card__status {
  position: relative;
  padding-top: 44px;
}
@media screen and (max-width: 576px) {
  .card__status {
    max-width: 50px;
    padding-top: 24px;
    text-align: center;
  }
}
.card__status--time-date {
  padding-top: 0;
}
@media screen and (max-width: 576px) {
  .card__status--time-date {
    max-width: 40%;
  }
}
.card__svg {
  position: absolute;
  top: 0;
  right: 8px;
}
@media screen and (max-width: 576px) {
  .card__svg {
    right: 12px;
    width: 25px;
    height: 25px;
  }
}
.card__time {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 35px;
  display: block;
  text-align: right;
}
.card__date {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  display: block;
  text-align: right;
  letter-spacing: 0.01em;
}
@media screen and (max-width: 576px) {
  .card__date {
    font-size: 12px;
  }
}
.card__live {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 576px) {
  .card__live {
    font-size: 12px;
    line-height: 15px;
  }
}
.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card__list--logos {
  margin-bottom: 11px;
}
@media screen and (max-width: 576px) {
  .card__list--logos {
    margin-bottom: 5px;
  }
}
.card__list--logos .card__item {
  margin-right: 15px;
}
@media screen and (max-width: 576px) {
  .card__list--logos .card__img {
    width: 40px;
    height: 40px;
  }
}
.card__list--titles {
  flex-direction: column;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}
@media screen and (max-width: 576px) {
  .card__list--titles {
    margin-bottom: 5px;
  }
}
.card__list--titles .card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .card__list--titles .card__item {
    margin-bottom: 0;
  }
}
.card__list--titles .card__item:last-child {
  margin-bottom: 0;
}
.card__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 35px;
  text-align: left;
  letter-spacing: 0;
}
.card__coefficient {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  width: 60px;
  padding: 2px;
  text-align: center;
  letter-spacing: 0.02em;
  color: black;
  border: 1px solid rgba(151, 151, 151, 0.1);
  background: #fafafa;
}
@media screen and (max-width: 576px) {
  .card__coefficient {
    font-size: 12px;
  }
}
.card__system {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #757c84;
}
@media screen and (max-width: 576px) {
  .card__system {
    font-size: 12px;
  }
}
.card__group {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 35px;
  text-align: left;
  letter-spacing: 0;
}
.card__number {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  padding: 10px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #757c84;
  border-radius: 4px;
  background-color: #f0f0f0;
}
@media screen and (max-width: 576px) {
  .card__number {
    font-size: 12px;
    padding: 10px 22px;
  }
}
.card__map {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #757c84;
}
@media screen and (max-width: 576px) {
  .card__map {
    font-size: 12px;
  }
}
.card__discipline {
  margin-top: 20px;
  margin-bottom: 12px;
}
@media screen and (max-width: 576px) {
  .card__discipline {
    margin-top: -10px;
    margin-bottom: 4px;
  }
}
.card__partner {
  margin-top: 3px;
}
.status-list {
  position: relative;
}
.status-list::after {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 28px;
  display: block;
  width: 5px;
  height: 90%;
  content: "";
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fff;
  -webkit-box-shadow: inset 1px 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 0 2px rgba(0, 0, 0, 0.1);
}
.status-list__item {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 47px;
  padding-left: 80px;
  text-align: left;
  letter-spacing: 0.01em;
  color: #757c84;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.status-list__item:last-child {
  margin-bottom: 0;
}
.status-list__item--active {
  color: #282830;
}
.status-list__item--active status-list__icon {
  border: 1px solid #20a95a;
}
.status-list__item--active .status-list__icon-inner {
  background-color: #20a95a;
  background-image: url(img/elipse-bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 45px 45px;
}
.status-list__item--active .status-list__step {
  font-weight: 700;
}
.status-list__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(117, 124, 132, 0.2);
  border-radius: 50%;
  background-color: #fafafa;
}
.status-list__icon-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 52px;
  height: 52px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #fff;
}
.status-list__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  fill: #fff;
}
.status-list__svg path {
  fill: #757c84;
}
.status-list__step {
  margin-bottom: 6px;
}
.confirmation {
  position: relative;
  width: 100%;
  max-width: 456px;
  padding-top: 10px;
  padding-right: 60px;
  padding-bottom: 10px;
  padding-left: 60px;
  background-color: #20a95a;
  background-image: url(img/confirmation-decor.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 375px 60px;
}
.confirmation__svg {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.confirmation__bold {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
}
.confirmation__dscr {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #fff;
}
.faq {
  border-top: 1px solid rgba(54, 56, 65, 0.1);
  border-bottom: 1px solid rgba(54, 56, 65, 0.1);
}
.faq__item {
  position: relative;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(54, 56, 65, 0.1);
}
.faq__item:last-child {
  border-bottom: 0;
}
.faq__item--active .faq__dscr {
  display: block;
}
.faq__item--active .faq__svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.faq__bold {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #757c84;
}
.faq__svg {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.faq__dscr {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  display: none;
  padding-top: 10px;
  text-align: left;
  letter-spacing: 0.01em;
  color: grey;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social__item {
  margin-right: 30px;
}
.social__item:last-child {
  margin-right: 0;
}
.tabs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs-list__btn {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
  padding: 0;
  padding: 15px 40px;
  letter-spacing: 0.01em;
  color: #282830;
  border: none;
  outline: none;
  background-color: transparent;
}
.tabs-list__btn--active {
  color: #fff;
  background-color: #ec3e5a;
}
.players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  max-width: 950px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}
.players__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}
.players__item:nth-child(even) {
  background-color: #fff;
}
.players__item--start {
  padding: 10px 25px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.players__item--order-top {
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid #20a95a;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.players__dim {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  margin-right: 47px;
  text-align: left;
  letter-spacing: 0.02em;
  color: #757c84;
}
.players__dim:first-child {
  width: 32px;
  margin-right: 34px;
  text-align: center;
}
.players__dim:last-child {
  margin-right: 0;
}
.players__index {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
  width: 32px;
  margin-right: 34px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #282830;
}
.players__link {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  letter-spacing: 0.01em;
  color: #282830;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.players__link:hover {
  color: #ec3e5a;
}
.players__svg {
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */
